@{
    ViewData["Title"] = "About me";
}
<h1>@ViewData["Title"]</h1>

<p>My name is Daniil Pochepynets. I`m a beginner developer and this is my study/pet project</p>
<div class="btn-group" role="group" aria-label="Basic outlined example">
    <a type="button" class="btn btn-outline-primary" target="_blank" href="https://github.com/Aerfog/">My GitHub</a>
    <a type="button" class="btn btn-outline-primary" target="_blank" href="https://t.me/Qqetirr">My Telegram</a>
</div>